.SettingsChangeProfile {
    .main-content {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 160px 1fr;
        grid-gap: 50px;

        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr;
            margin-top: 25px;
        }

        .sidebar {
            @include media-breakpoint-down(sm) {
                display: none;
            }

            .Avatar {
                width: 80px;
                height: 80px;
            }

            .header-label {
                margin-top: 20px;
            }

            .links {
                &.space-1 {
                    margin-top: 30px;
                }

                &.space-2 {
                    margin-top: 70px;
                }

                .item {
                    margin-bottom: 18px;
                    display: block;
                    color: $theme-gray;
                    @include font(16px);

                    &.active {
                        font-weight: bold;
                    }

                    &.disabled {
                        color: $theme-light;
                        pointer-events: none;
                    }
                }
            }
        }

        .content {
            padding: 60px 70px;
            background-color: white;
            @include blurry-shadow;

            @include media-breakpoint-down(sm) {
                padding: 25px;
            }

            .page-title {
                margin-bottom: 60px;
                color: $theme-gray-dark;
                @include font(32px, 800);
            }

            .form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 12px;
                grid-row-gap: 25px;

                @include media-breakpoint-down(sm) {
                    grid-template-columns: 1fr;
                }

                .item.gebruikersnaam {
                    grid-column: 1 / span 2;

                    @include media-breakpoint-down(sm) {
                        grid-column: 1;
                    }
                }
            }

            .btn-submit {
                margin-top: 30px;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}
