.Breadcrumbs {
    @include flex(flex-start, center);

    .item {
        color: $theme-gray;
        @include font(14px, bold);

        &.current {
            font-weight: 400;
        }
    }

    .divider {
        margin: 0 5px;
        display: inline-block;
        color: $theme-gray;
        @include font(14px);
    }
}
