@mixin outline($color) {
    padding: 11px 18px;
    background: white;
    border: 1px solid $color;
    color: $color;

    &.large {
        padding: 16px 25px;

        @include media-breakpoint-down(xs) {
            padding: 12px 18px;
        }
    }
}

.Button {
    padding: 13px 18px;
    position: relative;
    color: white;
    text-align: center;
    background: linear-gradient(180deg, #ffb41c 0%, $theme-orange-darker 100%);
    border-radius: 4px;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
    @include font(16px, bold);

    // Main attributes

    &.disabled {
        color: white;
        background: $theme-gray-light;
        pointer-events: none;
    }

    &.block {
        width: 100%;
        display: block;
    }

    &.semi {
        @include font(16px, 600);
    }

    &.large {
        padding: 17px 25px;

        @include media-breakpoint-down(xs) {
            padding: 13px 18px;
        }
    }

    &.outline {
        @include outline($theme-orange-darker);
    }

    &.glow {
        box-shadow: 0 8px 16px rgba(255, 184, 0, 0.3);
    }

    // Colors

    &.white {
        border: 1px solid white;
        color: $theme-gray;
        background: white;
        @include simple-shadow;
    }

    &.green {
        background: $theme-green;

        &.outline {
            @include outline($theme-green);
        }
    }

    &.dark-gray {
        background: $theme-gray-dark;

        &.outline {
            @include outline($theme-gray-dark);
        }
    }

    &.red {
        background: $theme-red;

        &.outline {
            @include outline($theme-red);
        }
    }

    // Utils

    &.icon {
        i {
            margin-right: 5px;
            font-size: 14px;
        }
    }

    &.none {
        color: $theme-gray-dark;
        background: transparent !important;
        border-color: transparent !important;

        &.red {
            color: $theme-red;
        }
    }

    &.not-rounded {
        border-radius: 0;
    }
}

.ButtonIcon {
    width: 46px;
    height: 46px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    color: $theme-orange;
    cursor: pointer;
    @include flex(center, center);
    @include simple-shadow;

    &.gray {
        color: $theme-gray;
    }

    &.disabled {
        color: $theme-gray-light;
    }

    .icon {
        @include flex(center, center);
    }
}
