.Checkbox {
    padding: 4px 0;

    &[disabled],
    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    label {
        width: auto;
        margin-bottom: 0;
        color: $theme-gray;
        cursor: pointer;
        @include flex(flex-start, center);
        @include font(14px);
        line-height: 120%;

        &::-moz-selection {
            background: none;
        }

        &::selection {
            background: none;
        }

        &::-moz-selection {
            background: none;
        }

        input {
            display: none;
        }

        span {
            height: 21px;
            width: 21px;
            margin-right: 15px;
            display: inline-block;
            position: relative;
            flex-shrink: 0;
            background-color: white;
            border: 1px solid $theme-gray-light;
            border-radius: 4px;
        }

        [type="checkbox"]:checked + span {
            background-color: $theme-orange !important;
            border-color: $theme-orange !important;
        }

        [type="checkbox"]:checked + span:before {
            content: "\f00c";
            height: 100%;
            margin-top: 1px;
            color: white;
            font-family: "Font Awesome 5 Pro";
            border-radius: 4px;
            @include flex(center, center);
        }
    }
}
