.ProductCardHorizontal {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    @include simple-shadow;
    @include flex(stretch, center);

    @include media-breakpoint-down(xs) {
        &.hide-on-mobile {
            display: none;
        }
    }

    .thumbnail {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        border-radius: 5px;
        flex-shrink: 0;
    }

    .information {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: stretch;

        .title {
            color: $theme-orange;
            @include font(16px, bold);
        }

        .price {
            margin-top: 5px;
            color: $theme-gray;
            @include font(16px, bold);
        }

        .kilometers {
            margin-top: 5px;
            margin-bottom: 5px;
            color: $theme-gray;
            @include font(14px);
        }

        .bid {
            margin-top: auto;
            color: $theme-gray;
            @include font(14px);
        }

        .location-star {
            margin-top: auto;
            @include flex(space-between, center);

            .location {
                color: $theme-gray;
                @include font(14px);
            }

            .star-icon {
                flex-shrink: 0;
                width: 20px;
                height: 20px;
            }
        }
    }
}
