.ProductCardVertical {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    @include simple-shadow;

    @include media-breakpoint-down(xs) {
        &.hide-on-mobile {
            display: none;
        }
    }

    img {
        width: 100%;
        flex-shrink: 0;
        border-radius: 5px;
    }

    .information {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-self: stretch;

        .title {
            color: $theme-gray;
            @include font(16px, bold);

            .year {
                font-weight: 400;
            }
        }

        .price {
            margin-top: 5px;
            color: $theme-orange;
            @include font(16px, bold);
        }

        .kilometers {
            margin-top: 5px;
            color: $theme-gray;
            @include font(14px);
        }

        .bid {
            margin-top: 10px;
            color: $theme-gray;
            @include font(14px);
        }

        .location-star {
            margin-top: 15px;

            @include flex(space-between, center);

            .location {
                color: $theme-gray;
                @include font(14px);
            }

            .star-icon {
                flex-shrink: 0;
                width: 20px;
                height: 20px;
            }
        }
    }
}
