.Select {
    padding: 10px 15px;
    border: 1px solid $theme-lines;
    border-radius: 3px;
    color: $theme-gray;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/images/select-angle-down.svg) no-repeat #fff;
    background-position-y: center;
    background-position-x: 100%;
    background-origin: content-box;

    @include font(16px);

    &.block {
        width: 100%;
    }
}
