$theme-orange: #ffb41c;
$theme-orange-darker: #ffa41c;
$theme-green: #69a752;
$theme-red: #ff584c;

$theme-gray: #67707e;
$theme-gray-light: #d5d9de;
$theme-gray-dark: #3a4047;

$theme-light: #c4c6ca;
$theme-extra-light: #f5f6f6;

$theme-lines: #e3e5e8;

$theme-facebook: #3b5998;

$border-radius: 4px;
$font-size: 16px;

$font-primary: "Open Sans", sans-serif;

@mixin theme-orange-gradient {
    background: $theme-orange;
    background: linear-gradient(
        180deg,
        $theme-orange 0%,
        $theme-orange-darker 100%
    );
}

@mixin theme-faded-image($image) {
    background: linear-gradient(
            180deg,
            rgba(58, 64, 71, 0.41) 29.53%,
            rgba(58, 64, 71, 0.78) 71.88%
        ),
        $image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
